@font-face {
    font-family: FuturaMediumBT;
    src: url(assets/font/FuturaMediumBT.ttf);
}

@font-face {
    font-family: Vogue;
    src: url(assets/font/Vogue.ttf);
}


body{
    margin: 0;
    padding: 0;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    min-height: 100vh;
    font-family: FuturaMediumBT;
}




.signup_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0px;
    width: 250px;
    height: 150px;

}

.signup_box_second{
    height: 200px;
}

.signup_box input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 30px;
    gap: 10px;
    width: 250px;
    height: 50px;
    outline: none;
    font-size: 15px;
    font-family: FuturaMediumBT;
}

.mail_input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prenom_input{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#confirm_password {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#phone{
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.acount_exist{
    text-align: center;
    margin-top: 40px;
    font-family: FuturaMediumBT;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-family: FuturaMediumBT;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 36px;
}



.btn{
    display: inline-block;

}
button {
    display: flex;
    align-items: center;
     margin: 30px;
     background-color: #EDD54C;
        color: black;
        border: none;
        border-radius: 30px;
        width: 110px;
        height: 40px;
        cursor: pointer;
        padding: 10px 20px;

  }
button img {
    width: 25px;
    height: 25px;
}

header {
    background-color: black;
    padding: 20px 0;
    width: 100%;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    width: 28px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.logo-container h1 {
    color: white;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    vertical-align: middle;
}

.logo-container h1 {
    color: white;
    display: inline-block;
    font-family: 'Vogue';
    font-style: normal;
    font-weight: 400;
    font-size: 27.01px;
    line-height: 24px;
    margin: 7px 0 0 13px;
    vertical-align: middle;
}


@media screen and (min-width: 800px) {

    .signup_box{
        margin-top: 80px;
        width: 475px;
        height: 210px;
    }

    .signup_box input{

        width: 475px;
        height: 70px;
    }
    button{
        margin-top: 40px;
    }

    h2{
        margin: 0;
        line-height: 37px;
    }
    .signup{
        
    margin-top: 100px;
    }


}



