@font-face {
    font-family: futura;
    src: url(../MiniAirBnb/src/futura_1/Futura\ Heavy\ font.ttf);
}
@font-face {
    font-family: vogue;
    src: url(../MiniAirBnb/src/vogue/Vogue.ttf);
}
body{
    font-family: futura;
    margin: 0;
}
.contact_us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    min-height: 100vh;
    font-family: futura;
}

h1{
    display: flex;
    justify-content: center;
    font-family: vogue;
}
.box_1{
    width: 207px;
    height: 165px;
    border: 2px solid black;
    border-radius: 10px;
}
#tel{
    border: none;
}

.box_2{
    width: 207px;
    height: 133px;
    border: 2px solid black;
    border-radius: 10px;
    
}
#message{
    border: none;
    height: 80px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
    
}

.Contact{
  margin-left: -150px;
  margin-bottom: -90px
  ;
}
.box_1 input{
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 195px;
    margin: 10px 0 ;
    outline: none;
    padding-left: 10px;
    font-family: futura;

}

.box_2 input{
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 199px;
    margin: 10px 0 ;
    outline: none;
    padding-left: 10px;
    font-family: futura;

}
button {
    padding: 10px 20px;
    background-color: #EDD54C;
    color: black;
    border: none;
    border-radius: 30px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
  }
.btn button img {
    width: 25px;
    height: 25px;
}
@media screen  and (min-width: 800px){
    .contact_us{
        row-gap: 5px;
        min-height: 100vh;
        margin-top: -60px;
    }
    .box_1{
        width: 700px;
        height: 170px;
        border: none;

    }
    .box_1 input{
        border: 1px solid black;
        width: 250px;
        height: 30px;
        margin: 10px 0 ;
        outline: none;
        padding-left: 10px;
        border-radius: 10px;
        display: inline-block;
        margin: 20px 40px;
        font-family: futura;

    }
    #tel{
        border: 1px solid black;
    }
    .box_2{
        width: 615px;
        height: 133px;
        border: 1px solid black;
        border-radius: 10px;        
    }
    .box_2 input{
        border: none;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        width: 608px;
        margin: 10px 0 ;
        outline: none;
        padding-left: 10px;
        font-family: futura;

    }
    .Contact{
        margin-left: -510px;
        margin-bottom: -150px
        ;
      }
    button {
        padding: 10px 20px;
        background-color: #EDD54C;
        color: black;
        border: none;
        border-radius: 30px;
        width: 110px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 10px;
      }


}
/* Css pour le header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
  }
.header_login{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.logo_login{
    display: flex;
    align-items: center;
  }
.img_logo{
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-right: 10px;
}


.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 2px;
    background-color: #EDD54C ;
    margin-bottom: 4px;
  }
  
  .menu {
    display: none;
    position: absolute;
    right: 45px;
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .menu.active {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: white;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
  }

/* Css Pour la partie login */
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    min-height: 100vh;
    font-family: futura;
}
.box_login{
    border-radius: 10px;
    border: 2px solid black;
    width: 220px;
    height: 90px;
    margin-top: 30px;
}
.box_login input{
    border: none;
    border-bottom: 2px solid black;
    width: 203px;
    height: 20px;
    margin-top: 20px; 
    padding-left: 15px;
    outline: none;
    font-size: 15px;
    font-family: futura;
  
}

#mot_de_passe{
    border-bottom: none;
}

.link_password{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: futura;
    font-size: 15px;
}
a{
    color: black;
}

@media screen and (min-width: 800px) {
    .box_login{
        border-radius: 7px;
        border: 1px solid black;
        width: 350px;
        height: 90px;
        margin-top: 40px;
    }
    .box_login input{
        border: none;
        border-bottom: 1px solid black;
        width: 332px;
        height: 20px;
        margin-top: 20px; 
        padding-left: 15px;
        outline: none;
        font-size: 15px;
        font-family: futura;
      
    }
    #left{
        margin-right: 150px;
    }
}
/* Fin du css Login  */

/* Css de la page ajouter un logement */
.add_logement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin: 0;
    padding: 0;

}
.Form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.Form_group label{
    padding-bottom: 10px;
}
 .Form_group  input{
    border-radius: 10px;
    width: 345px;
    height: 35px;
    outline: none;
} 
