@font-face {
  font-family: Futura, sans-serif;;
  src: url("../../assets/font/Futura.ttf");
}

.profil_container2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  margin-top: 40px;
  margin-left: 40px;

}

.reservation {
  text-align: left;
}

.reservation h2 {
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 37px;
  margin-bottom: 20px;
  text-align: left;

}

.reservation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}



.appartement h4 {
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
  text-align: left;
}

.appartement img {
  width: 240px;
  height: 240px;
  height: auto;
  margin-bottom: 10px;
}

.appartement p.title {
  font-family: Futura, sans-serif;;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
}

.appartement p.description {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
  text-align: left;
}

.appartement p.date {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
}

.appartement p.price {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.appartement button {
  margin-top: 15px;
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.appartement button:hover {
  margin-top: 15px;
  background-color: #EDD54C;
  color: rgb(255, 255, 255);
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

#collection h2 {
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 37px;
  margin-left: 40px;
  margin-bottom: 10px;
  text-align: left;
}


.appart_parent {
  padding: 20px 20px 20px 0px;
}

.appart_parent img {
  margin-bottom: 10px;

}

.appart_parent p.title {
  font-family: Futura, sans-serif;;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
}

.appart_parent p.description {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
  text-align: left;
}

.appart_parent p.date {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
}

.appart_parent p.price {
  font-family: Futura, sans-serif;;
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.appart_parent button {
  margin-top: 15px;
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.appart_parent button:hover {
  margin-top: 15px;
  background-color: #EDD54C;
  color: rgb(255, 255, 255);
  font-family: Futura, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}


#collection {
  align-self: center;
}

#left_collection_btn {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#right_collection_btn {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#collection_grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-gap: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.appart_parent img {
  height: 160px;
  width: 160px;
  border-radius: 15px;
}

.description {
  margin-top: 16px;
}

.title {
  margin-top: 16px;
}




#area_collection_grid {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  width: 100%;

}

#left_collection_btn button {
  display: flex;
  justify-content: center;
  text-align: center;

}

#right_collection_btn button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;

}




@media (min-width: 750px) {
  #collection_grid {
    grid-template-columns: repeat(3, 200px);
  }

  .appart_parent img {
    height: 200px;
    width: 200px;
  }

  .appartement {
    padding: 20px 10px 20px 0px;

  }

}


@media (min-width: 1300px) {
  .appartement button {
    margin-top: 15px;
    font-family: Futura, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }

  .appartement button:hover {
    margin-top: 15px;
    background-color: #EDD54C;
    color: rgb(255, 255, 255);
    font-family: Futura, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }


}





@media (min-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  .appart_parent img {
    height: 240px;
    width: 240px;
  }

  #collection {
    align-self: none;
    width: 100%;

  }

  #area_collection_grid {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    z-index: 0;
    margin-left: 0;

  }

  #collection_grid {
    display: flex;
    margin: 0px;
    position: relative;
    transition: all 0.2s;

  }



  #left_collection_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    height: 100%;
    overflow: visible;
  }

  #right_collection_btn {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    height: 100%;
    overflow: visible;
  }

  #left_collection_btn button {
    background-color: white;
    border: 1px solid black;
    height: 0px;
    width: 0px;
    border-radius: 90px;
    position: relative;
    left: 35px;
    padding: 0px;

  }


  #right_collection_btn button {
    background-color: white;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    border-radius: 90px;
    position: relative;
    right: 35px;
  }

  #left_collection_btn button img {
    height: 90%;
    rotate: 180deg;
  }

  #right_collection_btn button img {
    height: 90%;
  }

  #top_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 96px;
    margin-left: 40px;
  }

  .appartement {
    width: calc(25% - 20px);
    padding: 20px 10px 20px 0px;

  }
}