#product {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#aera_product {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#left_aera_product {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#right_aera_product {
    display: flex;
    height: inherit;
    width: inherit;
    flex-direction: column;
    margin-bottom: 48px;
    padding: 14px;
}

#right_aera_product h1{
    font-family: Futura_Heavy;;
    font-size: 36px;
    margin: 0px;
}

#main_img img{
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

#other_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#other_img img{
    width: 88px;
    height: 88px;
    margin-right: 10px;
}

#adresse {
    display: flex;
    margin-top: 0px;
}

#adresse p{
    display: flex;
    font-size: 20px;
}

#calender p{
    display: flex;
    font-size: 20px;
}

input[type="date"] {
    width: 292px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 10px;
}

#calender_du div {
    display: flex;
    width: inherit;
    flex-direction: row;
}

#calender_du div p {
    margin-left: 10px;
}

#calender_au div {
    display: flex;
    width: inherit;
    flex-direction: row;
}

#calender_au div p {
    margin-left: 10px;
}

#total {
    display: flex;
    flex-direction: row;
}

#other_img button {
    padding: 0px;
    background-color: white;
}

#submit_button p {
    font-size: 20px;
}

@media (min-width: 1100px) {

    #product {
        display: flex;
        padding: 140px;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    
    #aera_product {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    #left_aera_product {
        display: flex;
        height: inherit;
        padding: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #right_aera_product {
        display: flex;
        height: inherit;
        flex-direction: column;
    
        width: 506px;
    }
    
    #right_aera_product h1{
        font-family: Futura_Heavy;;
        font-size: 48px;
        margin: 0px;
    }
    
    #main_img img{
        width: 566px;
        height: 566px;
        border-radius: 10px;
    }
    
    #other_img {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 40px;
    }
    
    #other_img img{
        width: 88px;
        height: 88px;
        margin-right: 10px;
    }
    
    #adresse {
        display: flex;
        margin-top: 0px;
    }
    
    #adresse p{
        display: flex;
        font-size: 20px;
    }
    
    #calender p{
        display: flex;
        font-size: 20px;
    }
    
    input[type="date"] {
        width: 292px;
        height: 46px;
        border: 1px solid #000000;
        border-radius: 10px;
    }
    
    #calender_du div {
        display: flex;
        width: inherit;
        flex-direction: row;
    }
    
    #calender_du div p {
        margin-left: 10px;
    }
    
    #calender_au div {
        display: flex;
        width: inherit;
        flex-direction: row;
    }
    
    #calender_au div p {
        margin-left: 10px;
    }
    
    #total {
        display: flex;
        flex-direction: row;
    }
    
    #other_img button {
        padding: 0px;
        background-color: white;
    }
    
    #submit_button p {
        font-size: 20px;
    }

}