@font-face {
  font-family: FuturaMediumBT;
  src: url(../../assets/font/FuturaMediumBT.ttf);
}

@font-face {
  font-family: FuturaBdCnBT;
  src: url(../../assets/font/futura_bdcn_bt_bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.profil-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.profil-page {
  gap: 54px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.profil-frame1{
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.profil-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 54px 0;
}

.icon-container{
  gap: 61px;
  width: 521px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 80px;
}

.icon-container p {
  font-size: 36px;
  font-family: Futura;
  font-weight: 500;
}

.profil-text{
  height: auto;
  font-size: 36px;
  font-style: Medium;
  text-align: center;
  font-family: FuturaMediumBT;
  font-weight: 400;
  line-height: 37.25px;
  font-stretch: normal;
  text-decoration: none;
}

.profil-formulaire {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.profil-input {
  gap: 50px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.profil-info {
  gap: 16px;
  width: 509px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.info{
  gap: 16px;
  display: flex;
  align-items: center;
}

.title-info {
  width: 194px;
  height: auto;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  font-family: Futura, sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}

.text-info {
  height: auto;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Futura, sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  white-space: wrap;
}
.edit {
  height: auto;
  font-size: 18px;
  text-align: left;
  font-family: Futura, sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}


button {
  display: flex;
  align-items: center;
  margin: 30px;
  border: none;
  border-radius: 30px;
  width: 110px;
  height: 40px;
  cursor: pointer;
  padding: 10px 20px;

}

.btn{
  display: flex;
  margin: 20px 10px 40px 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 160px;
  height: 60px;
  font-size: 18px;
  font-family: Futura;
  font-weight: 500;
}

button img {
  width: 25px;
  height: 25px;

}

button#back-btn img {
  transform: scaleX(-1);
}

.no-scroll {
  overflow-y: hidden;
}