#collection {
    align-self: center;
    padding-bottom: 80px;
}

#left_collection_btn {
    height: 0px;
    width: 0px;
    overflow: hidden;
}

#right_collection_btn {
    height: 0px;
    width: 0px;
    overflow: hidden;
}

#collection_grid {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-gap: 16px;


}

.appart_parent > * {
    margin-top: 16px;
}

.appart_parent img {
    height: 160px;
    width: 160px;
    border-radius: 15px;
}

.description {
    font-family: Futura_medium_italic;
    font-size: 18px;

}

.title {
    font-family: Futura_Heavy;

    font-size: 20px;
}

#more {
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttun_more {

    background-color: white;
    font-family: Futura_Heavy;
}

#area_collection_grid {
    display: flex;
    justify-content: center;
    width: 100%;

}

#collection_title {
    font-family: Futura_Heavy;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#collection_title>h3 {
    font-family: Futura_Heavy;
    font-size: 32px;
    width: 100%;
    text-align: center;

}

@media (min-width: 750px) {
    #collection_grid {
        grid-template-columns: repeat(3, 200px);
    }

    .appart_parent img {
        height: 200px;
        width: 200px;
    }
}



@media (min-width: 1100px) {
    body {
        overflow-x: hidden;
    }

    #collection_title>h3 {
        font-family: Futura_Heavy;
        font-size: 32px;
        overflow: hidden;
        padding-left: 140px;
        text-align: left;
        width: 100%;
        margin-bottom: 80px;
    }

    .appart_parent {
        margin-right: 32px;
    }

    .appart_parent img {
        height: 240px;
        width: 240px;
    }

    #collection {
        align-self: none;
        width: 100%;

    }

    #area_collection_grid {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        overflow-x: hidden;
        z-index: 0;

    }

    #collection_grid {
        display: flex;
        margin: 0px;
        position: relative;
        transition: all 0.2s;

    }

    #more {
        height: 0px;
        overflow-x: hidden;
    }

    #left_collection_btn {
        width: 140px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;
        height: 100%;
        overflow: visible;
    }

    #right_collection_btn {
        width: 140px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;
        height: 100%;
        overflow: visible;
    }

    #left_collection_btn button {
        background-color: white;
        height: 0px;
        width: 0px;
        border-radius: 90px;
        position: relative;
        left: 35px;
        padding: 0px;
        box-shadow: 0px 12px 40px 8px rgba(0, 0, 0, 0.15);
    }


    #right_collection_btn button {
        background-color: white;
        height: 70px;
        width: 70px;
        border-radius: 90px;
        position: relative;
        right: 35px;
        box-shadow: 0px 12px 40px 8px rgba(0, 0, 0, 0.15);
    }

    #left_collection_btn button img {
        height: 80%;
        rotate: 180deg;
    }

    #right_collection_btn button img {
        height: 80%;
    }

    #top_collection {
        display: flex;
        justify-content: center;
        align-items: center;


    }
}