    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    padding: 0;

}
.Form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.Form_group label{
    padding-bottom: 10px;
    font-size: 18px;
}
 .Form_group  input{
    border-radius: 10px;
    width: 345px;
    height: 35px;
    outline: none;
    font-size: 18px;
} 
.Form_group select{
    height: 30px;
}

button {
    padding: 10px 20px;
    background-color: #EDD54C;
    color: black;
    border: none;
    border-radius: 30px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .btn{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  
}
.btn button img {
    width: 25px;
    height: 25px;
}