* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 40px;
    font-family: "Inter";
    text-align: center;
    margin: 15px 0px 15px 0px;
}
  
.login_signup{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    row-gap: 0;
}
  
.radiobox{
    display: flex;
    justify-content: space-around;
      
}
  
.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2% 0;
    margin: 20px 0;
}
    
.inputText {
    width: 100%;
    border: none;
    outline: none;
    color: black;
}
  
.inputText::placeholder {
    color: black;
    font-family: "Inter";
}
  
.Submitbutton {
    align-self: center;
    padding: 20px 30px;
    background-color: #e0bf00;
    border-radius: 12px;
    border: 1px solid #e0bf00;
    margin-bottom: 15px;
    color: white;
}
  
.Submitbutton:hover{
    background-color: white;
    color: #e0bf00;
    border: 1px solid #e0bf00;
}
  
.Submitbutton:active{
    background-color: #e0bf00;
    color: white;
    border: 1px solid #e0bf00;
}
  

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    padding: 25px;
    align-items: center;
    background-color: black;
}

.headerleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    height: 45px;
    display: flex;
    margin-right: 15px;
}
.nom {
    display: flex;
    align-items: center;
    margin-left: 40;
}

p{
    white-space: nowrap;
    color: white;
    font-size: 27px;
}

.taches {
    display: flex;
    align-items: center;
    margin-left: 70px;
    gap: 30px;
    color: white;


}

a{
    color: white;
    font-size: 27px;
    font-family: "Didot", serif;
    text-decoration: none;
}



.icons{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    height: min-content;
    margin-left: 0px;
   
}

.freur {
    display: flex;
    flex-direction: row;
}

.freur .separation {
    width: 2px;
    height: 27px;
}
.material-icons-outlined.md-48 { font-size: 48px; }

.profilepicture{
    width: 48px;
}


