@font-face {
    font-family: FuturaMediumBT;
    src: url(../../assets/font/FuturaMediumBT.ttf);
  }
  
  @font-face {
    font-family: EpilogueExtraBold;
    src: url(../../assets/font/Epilogue-ExtraBoldItalic.ttf);
  }

  @font-face {
    font-family: EpilogueRegular;
    src: url(../../assets/font/Epilogue-Regular.ttf);
  }

  @font-face {
    font-family: EpilogueSemiBold;
    src: url(../../assets/font/Epilogue-SemiBold.ttf);
  }



  body{
    margin: 0;
    padding: 0;
  }
  
/**************header***************************/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 0px 10px;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }


.img_logo{
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-right: 10px;
}
.nav_links{
    display: none;
}
.icons2{
  display: none;
}
.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 2px;
    background-color: #EDD54C ;
    margin-bottom: 4px;
  }
  
  .menu {
    display: none;
    position: absolute;
    right: 45px;
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .menu.active {
    display: block;
    z-index: 1;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  .icons{
    display: none;
  }
  .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: white;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
  }
  @media screen and (min-width: 800px) { 
    .nav_links a{
        text-decoration: none;
        color: white;
        margin-right: 30px;
    }
    .nav_links{
        display: unset;
        padding-left: 0;

    }
    header{
        height: 70px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
        
    }
    .icons2{
      display: unset;
    }
    .left{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .menu {
        display: none;
        position: absolute;
        background: white;
        width: 200px;
        height: 170px;
        top: 73px;
        right: 50px;
        left: unset;
        border-radius: 10px;
        font-size: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        padding: 20px;
      }
      .menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        border-bottom: 1px solid black;
        color: black;
         }


  }

/***********************************************/

@font-face {
    font-family: FuturaMediumBT;
    src: url(../../assets/font/FuturaMediumBT.ttf);
  }
  
  @font-face {
    font-family: EpilogueExtraBold;
    src: url(../../assets/font/Epilogue-ExtraBoldItalic.ttf);
  }

  @font-face {
    font-family: EpilogueRegular;
    src: url(../../assets/font/Epilogue-Regular.ttf);
  }

  @font-face {
    font-family: EpilogueSemiBold;
    src: url(../../assets/font/Epilogue-SemiBold.ttf);
  }


body{
    margin: 0;
    padding: 0;
}

.profil_container2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    overflow: auto;
    margin-top: 40px;
    margin-left: 40px;

}

.reservation {
    text-align: left; 
}

.reservation h2 {
    font-family: FuturaMediumBT;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 20px;
    text-align: left; 

}

.reservation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px;
}



.appartement h4 {
    font-family: FuturaMediumBT;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
    text-align: left; 
}

.appartement img {
    width: 240px;
    height: 240px;
    height: auto;
    margin-bottom: 10px;
}

.appartement p.title {
    font-family: EpilogueExtraBold;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 20px;
    color: black;
    text-align: left; 
}

.appartement p.description {
    font-family: EpilogueSemiBold;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 13px;
    text-align: left; 
}

.appartement p.date {
    font-family: EpilogueRegular;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
    text-align: left; 
}

.appartement p.price {
    font-family: EpilogueRegular;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-top: 14px;
    margin-bottom: 5px;
    text-align: left; 
}

.appartement button {
  margin-top: 15px;
  background-color: #EDD54C;
  color: black;
  font-family: FuturaMediumBT;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.appartement button:hover {
  margin-top: 15px;
  background-color: #EDD54C;
  color: rgb(255, 255, 255);
  font-family: FuturaMediumBT;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center; 
}




#collection{
  margin-top: 40px;
}

#collection h2{
  font-family: FuturaMediumBT;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 37px;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: left; 
}


.appart_parent{
  padding: 20px 20px 20px 0px;
}

.appart_parent img {
  margin-bottom: 10px;

}

.appart_parent p.title {
  font-family: EpilogueExtraBold;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 20px;
  color: black;
  text-align: left; 
}

.appart_parent p.description {
  font-family: EpilogueSemiBold;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 13px;
  text-align: left; 
}

.appart_parent p.date {
  font-family: EpilogueRegular;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  text-align: left; 
}

.appart_parent p.price {
  font-family: EpilogueRegular;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 14px;
  margin-bottom: 5px;
  text-align: left; 
}

.appart_parent button {
  margin-top: 15px;
  background-color: #EDD54C;
  color: black;
  font-family: FuturaMediumBT;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.appart_parent button:hover {
  margin-top: 15px;
  background-color: #EDD54C;
  color: rgb(255, 255, 255);
  font-family: FuturaMediumBT;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  text-align: center; 
}


#collection {
  align-self: center;
}

#left_collection_btn {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#right_collection_btn {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#collection_grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-gap: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.appart_parent img {
  height: 160px;
  width: 160px;
  border-radius: 15px;
}

.description {
  margin-top: 16px;
}

.title {
  margin-top: 16px;
}




#area_collection_grid {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  width: 100%;

}

#left_collection_btn button{
  display: flex;
  justify-content: center;
  text-align: center;

}

#right_collection_btn button{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;

}




@media (min-width: 750px) {
  #collection_grid {
    grid-template-columns: repeat(3, 200px);
  }

  .appart_parent img {
      height: 200px;
      width: 200px;
}

.appartement {
    padding: 20px 10px 20px 0px;

}

}


@media (min-width: 1300px) {
  .appartement button {
    margin-top: 15px;
    background-color: #EDD54C;
    color: black;
    font-family: FuturaMediumBT;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .appartement button:hover {
    margin-top: 15px;
    background-color: #EDD54C;
    color: rgb(255, 255, 255);
    font-family: FuturaMediumBT;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    text-align: center; 
  }


}





@media (min-width: 1100px) {
  body {
      overflow-x: hidden;
  }

  .appart_parent img {
      height: 240px;
      width: 240px;
  }

  #collection {
      align-self: none;
      width: 100%;

  }

  #area_collection_grid {
      display: flex;
      justify-content: flex-start;
      overflow-x: hidden;
      z-index: 0;
      margin-left: 0;

  }

  #collection_grid {
      display: flex;
      margin: 0px;
      position: relative;
      transition: all 0.2s;

  }



  #left_collection_btn{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      height: 100%;
      overflow: visible;
  }

  #right_collection_btn{
      width: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 1;
      height: 100%;
      overflow: visible;
  }

  #left_collection_btn button {
      background-color: white;
      border: 1px solid black;
      height: 0px;
      width: 0px;
      border-radius: 90px;
      position: relative;
      left: 35px;
      padding: 0px;
      
  }

  
  #right_collection_btn  button{
      background-color: white;
      border: 1px solid black;
      height: 70px;
      width: 70px;
      border-radius: 90px;
      position: relative;
      right: 35px;
  }

  #left_collection_btn button img {
      height: 90%;
      rotate: 180deg;
  }

  #right_collection_btn button img {
      height: 90%;
  }

  #top_collection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 96px;
      margin-left: 40px;
  }

  .appartement {
    width: calc(25% - 20px);
      padding: 20px 10px 20px 0px;
  
  }



}





/*************footer*********/
footer{
  display: none;
}
@media screen and (min-width: 800px) {
  
@import url('https://fonts.cdnfonts.com/css/futura-pt');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  width : 100%;
  height : 75px;
  background-color :black;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0;

}
footer .container {
  width: 77%;
  display: flex;
  align-items: center;
  gap: 3%;
}

p {
  font-size: 1.063rem;
  color: white;
  font-family: 'Futura PT';
}

.container-img{
  display: flex;
  align-items: center;
  gap: 6px;
}

.container-img figure {
  max-height: 94%;
  max-width: 23px;
}

.container-img figure img {
  min-width: 14px;
  max-width: 34px;
  width: 100%;
  height: 20px;
}

.footer-a{
  color: white;
}
}