.arguement {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 72px;
    flex-direction: column;
}

.arguement img {
    width: 70%;
}

.arguement div {
    width: 90%;

}

.arguement div h3{
    text-align: center; 
}

.arguement div p{
    text-align: center; 
}

