@font-face {
    font-family: Futura_medium_italic;
    src: url("./font/Futura\ Medium\ Italic\ font.ttf");
  }

  @font-face {
    font-family: Futura_Heavy;
    src: url("./font/Futura\ Heavy\ font.ttf");
  }

  @font-face {
    font-family: Didot;
    src: url("./font/Didot\ Regular.ttf");
  }